@import url("https://fonts.google.com/noto/specimen/Noto+Sans+Georgian");
*  {
  font-family:   Georgia;
  transition: opacity 0.5s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
min-height: 100vh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 223, 201);
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 100%;
}

.topbar-content {
display: contents;
align-items: center;

}
.topbar-content img{
  float: left;
  padding-left: 0px;
  width: 130px;
  height: 65px;
}

.pages {
float: right;
margin-right: 20px;
}

.pages li{
display: inline-block;
line-height: 100px;
margin: 10px 5px;
padding-top: 15px;
color: rgb(56, 87, 35);
}

.pages li a {
margin-top: 10px;
padding: 20px;
text-decoration: none;
color: #070606;
white-space: nowrap;
text-align: center;
}
.pages a.active, a:hover{
background-color: #e0d9d965;
border-radius: 10px;
}

.logo img{
  float: left;
  line-height: 80px;
  margin-left: 20px;
}

.sidebar{
font-size: 30px;
float: right;
line-height: 80px;
margin-right: 10px;
cursor: pointer;
color: rgb(56, 87, 35);
display: none;
}

#check{
display: none;
}

@media (max-width: 958px) { 
.logo img{
  float: left;
}
.pages li a{
  font-size: 16px;
}
}

@media (max-width: 910px){
.pages li{
  display: block;
  height: 30px;
  color: rgb(56, 87, 35);
}
}

@media (max-width: 910px){
.sidebar{
display: block;
}
.sidebar i{
padding-left: 15px;
}

.logo img{
align-items: center;
}
.pages{
position: fixed;
width: 300px;
height: 100vh;
background: rgb(239, 223, 201);
top: 80px;
left: -100px;
text-align: center;
transition: all .5s;
}
.page li{
margin: 0;
line-height: 30px;
}
.pages li a{
font-size: 20px;
}
.pages a:hover, a.active{
background:transparent;
color: rgb(56, 87, 35);
opacity: 10px;
}
#check:checked ~ .pages{
left: 0;
}

}

.opm {
  text-align: center;
  padding: 50px;
  padding-left: 50px;
  background-color:  rgb(239, 223, 201);
}

.artisttext{
  text-align: center;
  padding: 20px;
}

.artist-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeecec;
  border-radius: 10px;
}

.artist-section img {
  margin: 0 70px; 
  border-radius: 50%;
}

.artist-section div {
  text-align: center;
  margin: 5px; 
  padding-top: 10px;
}
.artist-section div a{
  text-decoration: none;
  color: rgb(44, 43, 43);
}
.artist-section div a:hover{
  color:rgb(180, 37, 37)
}

.artist-section img {
  transition: transform 0.3s;
}

.artist-section img:hover {
  transform: scale(1.1);
}

.artist-section img {
  transition: border-color 0.3s;
  border: 2px solid transparent; 
  transition: box-shadow 3s;
  box-shadow: 0 0 5px rgba(33, 73, 252, 0);
}

.artist-section img:hover {
  border-color: none; 
}

.featured {
  opacity: 0.5;
}

.artist-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 30px;
  background:rgb(239, 223, 201);
}

.artist-info > div {
  width: 48%; 
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.artist-info a {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: rgb(56, 87, 35); 
  color: white; 
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.artist-info a:hover {
  background-color:  rgb(84, 130, 53); 
}

.artist-info {
  padding-top: 50px;
}

.bottom-links {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(56, 87, 35);
}

.bottom-links a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(239, 223, 201);
}

.bottom-links a:hover {
  color: rgb(197, 224, 180);
}

.bottom-links i {
  margin-left: 5px;
}


.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(239, 223, 201);
}

.footer > * {
  flex: 1 100%;
}

.footer p {
  font-weight: 600;
  font-size: 17px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  color:rgb(8, 8, 8);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-top > * {
  flex: 1 0 10%;
  margin-right: 1em;
  padding-left: 10%;
  align-items: center;
}

.footer .social-media a{
  padding-left: 15px;
}
.footer-bottom {
  text-align: center;
  padding-top: 50px;
}

.footer-top p {
  padding-right: 20%;
}

@media screen and (min-width: 600px) {
  .footer-top > * {
      flex: 1;
  }
  .footer-top {
      flex: 2 0px;
  }
}





















